[*.cs]

# SA1111: Closing parenthesis should be on line of last parameter
dotnet_diagnostic.SA1111.severity = none

# SA1009: Closing parenthesis should be spaced correctly
dotnet_diagnostic.SA1009.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1115: Parameter should follow comma
dotnet_diagnostic.SA1115.severity = none

# SA0001: XML comment analysis disabled
dotnet_diagnostic.SA0001.severity = none
